*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.visibilidad{
    display: none;
}
#divUsuarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#divPosts{
    width:100%;
    padding:20px;
}
#selectUsuarios{
    width: 80%;
    padding:5px;
    background-color:#46D5EB;
    border-radius: 5px;
}
body{
    background-color:floralwhite;
}
.divPost{
    margin-bottom: 10px;
    background-color: #466DEB;
    border-radius: 20px;
}
.h3Post{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.pPost{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:5px;
}
.btnPost{
    text-align: center;
    padding:7px;
    margin-bottom: 7px;;
    background-color: #8ADEEB;
    border-radius: 5px;
    cursor: pointer;
}
.divBotones{
    display: flex;
    justify-content: center;
    
    margin-top: 10px;
    margin-bottom: 5px;
}
.divComentarios{
    margin:10px;
    padding-bottom: 10px;
}
.h4Comentarios{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.pComentarios{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top:5px;
    color:aliceblue;
}